<footer class="d-flex flex-column  bg-dark text-white text-center py-3">
  <div class="container">
    <div class="social-links mb-3">
      <a href="https://github.com/FabioCCamarg" target="_blank" class="text-white mx-2">
        <i class="fa-brands fa-github fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/fabio-costa-camargo" target="_blank" class="text-white mx-2">
        <i class="fa-brands fa-linkedin fa-2x"></i>
      </a>
      <p>Celular (15) 997306484</p>
    </div>
    <p class="mb-0">© 2024 Fábio Costa Camargo. Todos os direitos reservados.</p>
  </div>
</footer>

